<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href='/static/main.css'>
      <link rel="shortcut icon" href="~/favicon.ico">
      <title>Lifestyle Checker</title>
   </head>
   <body>
      <div class="box1" id="lifestyle-checker">
         <h6 id="h2">Lifestyle Checker App</h6>
         <h6 id="h1">{{text}}</h6>
         <button type="submit" id="submit" value="Submit" onclick="history.back()">Back</button>
      </div>
      <footer>
         <p>Created by <a href="mailto:michniewicz.olga@gmail.com">Olinka</a></p>
      </footer> 
   </body>
</html>