<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href='/static/main.css'>
      <title>Lifestyle Checker</title>
   </head>
   <body>
      <div class="box1" id="lifestyle-checker">
         <h6 id="h2">Lifestyle Checker App</h6>
         <form class="form" id="questions"  method="post" action=""> 
            <br>
            <label for="dob" id="dob">Time for a few questions regarding your lifestyle.</label>
            <br>
            <label for="dob" id="dob">Please type <b>yes</b> or <b>no</b> to answer.</label>
            <br>
            <br>
            <label for="question_one" id="question_one">Do you drink on more than 2 days a week?:</label>
            <input id="question_one" name="question_one" type="text" required></label>
            <label for="question_two" id="question_two" >Do you smoke?:</label>
            <input id="question_two" name="question_two" type="text" required></label>
            <label for="question_three" id="question_three">Do you exercise more than 1 hour per week?:</label>
            <input id="question_three" name="question_three" type="text" required>
            <br>
            <br>
            <button type="submit" id="submit" value="Submit">Submit</button>
         </form>
      </div>
      <footer>
         <p>Created by <a href="mailto:michniewicz.olga@gmail.com">Olinka</a></p>
      </footer>
   </body>
</html>